{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<h1>Sign up</h1>

{% if form.non_field_errors %}
  <ul class="errorlist">
    {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
  </ul>
{% endif %}

<form method="post" novalidate>
  {% csrf_token %}

  <div>
    <label for="{{ form.username.id_for_label }}">Username</label><br>
    {{ form.username }}
    {{ form.username.errors }}
  </div>

  <div>
    <label for="{{ form.first_name.id_for_label }}">First name</label><br>
    {{ form.first_name }}
    {{ form.first_name.errors }}
  </div>

  <div>
    <label for="{{ form.last_name.id_for_label }}">Last name</label><br>
    {{ form.last_name }}
    {{ form.last_name.errors }}
  </div>

  <div>
    <label for="{{ form.venmo_handle.id_for_label }}">Venmo handle (no @)</label><br>
    {{ form.venmo_handle }}
    {{ form.venmo_handle.errors }}
  </div>

  <div>
    <label for="{{ form.password1.id_for_label }}">Password</label><br>
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>

  <div>
    <label for="{{ form.password2.id_for_label }}">Password confirmation</label><br>
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>

  <p>
    <button type="submit">Sign up</button>
  </p>

  <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</form>
{% endblock %}